---
layout: default
title: "articles"
permalink: /articles/
---
<section class="piece">
  <h1 class="piece__title">Analysis</h1>
  <div class="piece__body">
    {% assign items = site.articles | sort: 'date' | reverse %}
    {% if items.size > 0 %}
      <ul class="listing">
        {% for item in items %}
          <li class="listing__item">
            <h2 class="listing__title"><a href="{{ item.url | relative_url }}">{{ item.title }}</a></h2>
            <p class="listing__meta">{{ item.date | date: "%B %Y" }}{% if item.published_in %} &nbsp;&nbsp; {{ item.published_in }}{% endif %}</p>
            {% if item.abstract %}<p class="listing__note">{{ item.abstract | truncate: 180 }}</p>{% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="listing__empty">Nothing here yet.</p>
    {% endif %}
  </div>
</section>
